DEV_DIR=""
HOSTNAME=""

GIT_USERNAME=""
GIT_EMAIL=""
GIT_SIGNING_KEY=""

GH_TOKEN=""

CONTEXT7_API_KEY=""
EXA_API_KEY=""
HEVY_API_KEY=""

PLEXUS_API_URL=""
PLEXUS_API_KEY=""
EXECUTOR_API_URL=""
EXECUTOR_API_KEY=""
